In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sc
from datetime import datetime
import seaborn as sns
%matplotlib inline

data = pd.read_csv("./Road_Accident_Data/Road-Accident.csv", na_values=-1, parse_dates=['time'], infer_datetime_format=True)

data.head()
data.shape

/Users/rajatrasal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(285331, 70)

In [16]:
nan_values = [[c, data[c].isnull().sum()/data.shape[0]] for c in data.columns.values]
for n in nan_values:
    if n[1] > 0.4:
        print(n)
        
# we are removing columns with str types   
data = data.select_dtypes(exclude=['O'])
        
print(data.shape)

# we are dropping columns with more than 40% missing values
for i in nan_values:
    if i[1] > 0.4:
        data.drop(i[0],axis=1, inplace=True)
print(data.shape)

data.head()

['driver_imd_decile', 1.0]
['vehicle_imd_decile', 1.0]
['casualty_home_area_type', 0.42200461919665233]
['casualty_imd_decile', 0.47667445878646203]
(285331, 66)
(285331, 62)

,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_location-restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,...,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type
0,2,9.0,0.0,18.0,0.0,8.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,9.0,0.0,9.0,0.0,8.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,9.0,0.0,18.0,0.0,8.0,0.0,0.0,0.0,0.0,...,1.0,51.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0
3,1,20.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,34.0,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0
4,1,9.0,0.0,15.0,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.drop('NUmber_of_Casualities_unique_to_accident_index', axis=1, inplace=True)
data.drop('age_of_driver', axis=1, inplace=True)
data.drop('location_easting_osgr', axis=1, inplace=True)
data.drop('location_northing_osgr', axis=1, inplace=True)
data.drop('local_authority_(district)', axis=1, inplace=True)

In [18]:
data.shape

(285331, 57)

In [19]:

#def delete_duplicates(data): 
#    print('here')
"""
x = data.loc[data['accident_index'] == j]
indices = x.index
null_indices = x.index[x.isnull().any(axis=1)].tolist()
not_null_index = 0
for i in indices:
    if i not in null_indices:
        not_null_index = i
        break
"""
#len([index for index, row in data.iloc[:, :100].iterrows() if row[-14:].isnull().any(axis=0)])
rows_with_nulls = [index for index, row in data.iloc[:, :].iterrows() if row[-14:].isnull().any(axis=0)]
len(rows_with_nulls)
data.drop(rows_with_nulls, inplace=True)
data.head()

,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_location-restricted_lane,junction_location,skidding_and_overturning,hit_object_in_carriageway,vehicle_leaving_carriageway,hit_object_off_carriageway,...,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type
2,2,9.0,0.0,18.0,0.0,8.0,0.0,0.0,0.0,0.0,...,1.0,51.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,9.0
3,1,20.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,34.0,6.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0
5,2,1.0,0.0,9.0,0.0,5.0,0.0,0.0,0.0,0.0,...,1.0,46.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0
6,1,3.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,...,2.0,27.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
8,1,9.0,0.0,14.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,12.0,3.0,3.0,1.0,2.0,0.0,0.0,0.0,0.0

In [20]:
data.shape

timestamp_to_int = lambda ts : np.float32((ts.hour * 60) + ts.minute)

try:
    data['time'] = data['time'].apply(timestamp_to_int)
except AttributeError:
    print('Ignored error')
    
names = data.columns.values
names

array(['vehicle_reference', 'vehicle_type', 'towing_and_articulation',
       'vehicle_manoeuvre', 'vehicle_location-restricted_lane',
       'junction_location', 'skidding_and_overturning',
       'hit_object_in_carriageway', 'vehicle_leaving_carriageway',
       'hit_object_off_carriageway', '1st_point_of_impact',
       'was_vehicle_left_hand_drive?', 'journey_purpose_of_driver',
       'sex_of_driver', 'age_band_of_driver', 'engine_capacity_(cc)',
       'propulsion_code', 'age_of_vehicle', 'driver_home_area_type',
       'No_of_Vehicles_involved_unique_to_accident_index', 'longitude',
       'latitude', 'police_force', 'accident_severity',
       'number_of_vehicles', 'number_of_casualties', 'day_of_week',
       'time', '1st_road_class', '1st_road_number', 'road_type',
       'speed_limit', 'junction_detail', 'junction_control',
       '2nd_road_class', '2nd_road_number',
       'pedestrian_crossing-human_control',
       'pedestrian_crossing-physical_facilities', 'light_conditions',
       'weather_conditions', 'road_surface_conditions',
       'special_conditions_at_site', 'carriageway_hazards',
       'urban_or_rural_area',
       'did_police_officer_attend_scene_of_accident',
       'casualty_reference', 'casualty_class', 'sex_of_casualty',
       'age_of_casualty', 'age_band_of_casualty', 'casualty_severity',
       'pedestrian_location', 'pedestrian_movement', 'car_passenger',
       'bus_or_coach_passenger', 'pedestrian_road_maintenance_worker',
       'casualty_type'], dtype=object)

In [2]:
new_data = data.dropna()
new_data.to_csv("./new_data.csv")
data.to_csv("./data.csv")

NameError: name 'data' is not defined

In [1]:
import pandas as pd
import numpy as np
new_data = pd.read_csv("./new_data.csv")
data = pd.read_csv("./data.csv")

In [2]:
means_for_cols = data.mean()
cols_with_nulls = data.isnull().any(axis=0).index[:]
len(cols_with_nulls)

58

In [4]:
y = new_data.casualty_severity
X = new_data.drop('casualty_class', axis=1)

In [5]:
#type(X['time'].iloc[0])
#timestamp_to_int = lambda ts : (ts.hour * 60) + ts.minute

#timestamp_to_int(X['time'])

In [6]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
#from sklearn.ensemble import RandomForestClassifier

#rf = RandomForestClassifier()
#rf.fit(X_train, y_train)

In [8]:
#sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), names), reverse=True)

In [ ]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

continuous_variables = ['longitude', 'latitude']

def random_forest_generator(col_name, data):
    y = data[col_name]
    X = data.drop(col_name, axis=1)
    if col_name not in continuous_variables:
        rf = RandomForestClassifier()
        rf.fit(X, y)
        return rf
    else:
        return
    """
    rf = RandomForestRegressor(max_depth=2, n_estimators=50)
    rf.fit(X, y)
    return rf
    """

col_to_rf = {col_name : random_forest_generator(col_name, new_data) for col_name in cols_with_nulls}

In [4]:
import pickle 

#pickle.dump(col_to_rf, open("./rf_dict.pickle", "wb"))

In [5]:
col_to_rf = pickle.load(open("./rf_dict.pickle", "rb"))

In [7]:
nan_rows = data.isnull().any(axis=1)
nan_rows = nan_rows[nan_rows].index
nan_rows

Int64Index([     0,      1,      2,      5,      6,      8,      9,     10,
                11,     13,
            ...
            182508, 182509, 182510, 182514, 182515, 182516, 182517, 182518,
            182519, 182520],
           dtype='int64', length=116512)

In [ ]:
for index in nan_rows:
    row = data.iloc[index]
    col_names = row[row.isnull()].index
    row[col_names] = means_for_cols[col_names]
    #print("before:", row[col_names])
    for col in col_names:
        #print("before:", row[col])
        row_train = row[row.index != col]
        #print(len(np.array(row_train)))
        #print(col_to_rf[col].predict(np.array(row_train).reshape(1, -1)))
        row[col] = col_to_rf[col].predict(np.array(row_train).reshape(1, -1)).reshape(-1, 1)
        #print("after:", row[col])
    #print("after:", row[col_names])
    #data.loc[index, :] = row

/Users/rajatrasal/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/rajatrasal/anaconda3/lib/python3.6/site-packages/pandas/core/series.py:815: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._set_labels(key, value)
/Users/rajatrasal/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy